@import '../../assets/css/config';

.list-container {
    overflow-y:auto;
    -webkit-overflow-scrolling : touch;
    .row-wrap {
        .list {
            width: 100%;
            border-bottom: 1px solid $border-color;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #fff;
            

            .list-left {
                width: 20%;

                img {
                    display: block;
                    width: 40px;
                    height: auto;
                    border-radius: 4px;
                    margin: auto;
                }
            }

            .list-right {
                width: 80%;
                font-size: 12px;
                color: $normal-text-color;
                p {
                    margin-bottom: 0;
                }

                .list-till {
                    font-size: 14px;
                    color: $emphase-text-color;
                    line-height: 1.5;
                    max-height: 42px;
                    overflow: hidden;
                }
            }
        }

        &:last-child { //.row-wrap:last-child .list
            .list {
                border-bottom: none;
                margin-bottom: 60px;
            }
        }
    }
}
