.message-container {
    .banner {
        position: fixed;
        left: 0;
        top:0;
        width: 100%;
        background: #f7f7f7;
        padding: 0 10px;
        border-bottom: 1px solid #ebedf0;
        z-index:11;
        .title {
            margin-right: 50%;
        }
    }

    .datalist-container {
        margin-top: 41px;
    }
}
