// .container {
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 9999;

//     .dialog {
//         position: fixed;
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         background: rgba(43,46,56,.7);
//         z-index: 5;
//     }

    .content-box {
        max-width: 768px;
        height: 200px;
        width: 100%;
        position: fixed;
        bottom:0;
        z-index: 1000;
        background: #fff;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        transform: translate(0, 100%);
        input {
            margin-bottom: 10px;
        }

        textarea {
            margin-bottom: 10px;
        }

        div {
            text-align: center;

            button:last-child {
                margin-left: 10px;
            }
        }
    }

    .content-up {
        animation: as-buttons-easein .30s forwards;
    }

    .content-down {
        animation: as-buttons-easeout .30s forwards;
    }

    .as-in {
        animation: as-easein .30s forwards;
    }

    .as-out {
        animation: as-easeout .30s forwards;
    }
// }


@keyframes as-easein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes as-easeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes as-buttons-easein {
    from {
        transform: translate(0, 100%) translateZ(0);
    }

    to {
        transform: translate(0, 0) translateZ(0);
    }
}

@keyframes as-buttons-easeout {
    from {
        transform: translate(0, 0) translateZ(0);
    }

    to {
        transform: translate(0, 100%) translateZ(0);
    }
}
